@font-face {
    font-family: 'Midtown Groveed';
    src: url('/static/fonts/Midtown-Groveed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
